<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/pico.css">
    <title>{% block title %}{% endblock %}</title>
    {% endblock head %}
  </head>
  <body>
    <header class="container">
    {% block navbar %}
    <nav>
    <ul>
      <li><a href="{{url_for("main.index")}}">Home</a></li>
    </ul>
    <ul>
      {% if current_user.is_authenticated %}
      <li><a href="{{url_for("main.user", name=current_user.username)}}">Profile</a></li>
      <li><a href="{{url_for("auth.logout")}}">Sign Out</a></li>
      {% else %}
      <li><a href="{{url_for("auth.login")}}">Sign In</a></li>
      {% endif %}
    </ul>
    </nav>
    {% endblock navbar %}

    <div class="container">
      {% for message in get_flashed_messages() %}
      <div>
        <button type="button" data-dismiss="alert">&times;</button>
        {{ message }}
      </div>
      {% endfor %}
    </div>

    {% block content %}
    {% endblock content %}
    </header>

    <div class="container">
    {% block page_content %}
    {% endblock page_content %}
    </div>

    {% block body %}
    {% endblock body %}
  </body>
</html>
