<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='pico.css') }}">
    <title>{% block title %}{% endblock %}</title>
    {% endblock head %}
  </head>
  <body>
    <header class="container">
    {% block navbar %}
    <nav>
    <ul>
      {% if current_user.is_authenticated %}
      <li><a href="{{url_for("main.index")}}">Home</a></li>
      <li><a href="{{url_for("main.profile", username=current_user.username)}}">Profile</a></li>
    </ul>
    <ul>
      <li><a href="{{url_for("main.settings", username=current_user.username)}}">Settings</a></li>
      <li><a href="{{url_for("auth.logout")}}">Sign Out</a></li>
      {% else %}
    </ul>
    <ul>
      <li><a href="{{url_for("auth.login")}}">Sign In</a></li>
      {% endif %}
    </ul>
    </nav>
    {% endblock navbar %}

    <div class="container">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
    </div>

    {% block content %}
    {% endblock content %}
    </header>

    <div class="container">
    {% block page_content %}
    {% endblock page_content %}
    </div>

    {% block body %}
    {% endblock body %}
  </body>
</html>
