{% extends "base.html" %} {% block title %}dibs - Index{% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block body %}
<main class="container">
  <section id="Welcome">
    <h1>
      Home
    </h1>
    <p>
      {% if not current_user.is_authenticated %}
      Hello, Stranger! Welcome to dibs. To get started, please sign in or register. 
      {% else %}
      Hello, {{ current_user.username|capitalize }}! <br />
      {% if lists %}
      Here are some lists that other people have created:
      <ul>
      {% for list in lists %}
      <li><a href="{{ url_for("main.list", list_id=list.id) }}">{{ list.title|capitalize }}</a> created by "{{ list.author.username|capitalize }}"</li>
      {% endfor %}
      </ul>
      {% endif %}
    </p>
    {% endif %}
  </section>
</main>
{% endblock %}
