{% extends "base.html" %}
{% block title %}dibs - {{ currentlist.title }}{% endblock %}
{% block head %} {{ super() }} {% endblock %} 
{% block page_content %}
<main class="container">
  <hgroup>
    <h1>
      {{ currentlist.title }}
    </h1>
    <h2>by <a href="{{ url_for("main.profile", username=currentlist.author.username) }}">{{ currentlist.author.username }}</a></h2>
  </hgroup>

  <section>
  {% if items %}
    {% for category in categories %}
    <h4>{{ category.name }}</h4>
    <ul>
      {% for item in items %}
      {% if item.category_id == category.id %}
        <li>
          <div>
            {% if item.link %}
            <a href="https://{{ item.link|safe }}">{{ item.name }}</a>
            {% else %}
            {{ item.name }}
            {% endif %}
            <a href="{{ url_for(
              "main.delete_item",
              list_id=currentlist.id,
              item_id=item.id
              )}}">
              [ delete? ]</a>
          </div>
          {% if item.description %}<div> {{ item.description }} </div>{% endif %}
        </li>
        {% endif %}
      {% endfor %}
    </ul>
    <hr />
    {% endfor %}
  {% else %}
  <p>
  This list is empty. {% if user == current_user %}Scroll down to add things to it.{% endif %}
  </p>
  {% endif %}
  </section>

  {# #}
  {% if user == current_user %}
  <section>
    <div>
      <h3>
      Add items
      </h3>
    <form method="POST">
      {% for item in form %}
        {% if item.id != "csrf_token" %}
        {{ item.label }}
        {% endif %}
        {{ item() }}
      {% endfor %}
      {% if form.errors %}
          <ul class="errors">
            Invalid input(s):
          {% for error in form.errors %}
              <li>{{ error }}</li>
          {% endfor %}
          </ul>
      {% endif %}
    </form>
    </div>
  </section>
  {% endif %}

  {% if current_user.is_administrator() %}
  <a href="{{url_for("main.delete_list", list_id=currentlist.id)}}">Delete this list</a>
  {% endif %}
</main>
{% endblock %}
