{% extends "base.html" %} {% block title %}dibs - Your Lists{% endblock %}
{% block head %} {{ super() }} {% endblock %}

{% block page_content %}
    <h1>
      {{ user.username|capitalize }}'s Lists
    </h1>

    {% if lists %}
    <ul>
      {% for list in lists %}
      <li>
        <div>
          <a href="{{ url_for("main.list", list_id=list.id) }}">{{ list.title }}</a>
          {% if user == current_user %}
          <a href="{{ url_for("main.delete_list", list_id=list.id) }}">[ delete? ]</a>
          {% endif %}
        </div>
      </li>
      {% endfor %}
    </ul>
    {% endif %}

    {% if user == current_user %}
    <div>
      <a href="{{ url_for("main.create") }}">Create a New list</a>
    </div>
    {% else %}
    <div>
      {{ user.username|capitalize }} was last seen {{ user.last_seen}}.
    </div>
    {% endif %}

    {% if current_user.is_administrator() %}<a href="{{ url_for("main.edit_user", username=user.username) }}">Edit User</a> (admin){% endif %}

{% endblock  page_content %}
