{% extends "base.html" %}

{% block title %}dibs - Your Lists{% endblock %}
{% block head %} {{ super() }} {% endblock %}

{% block page_content %}
<hgroup>
    <h1>
      Lists
    </h1>
    <h2>Created by {{ user.username|capitalize }}
      {% if current_user.is_administrator() %}
      [ <a href="{{ url_for("main.edit_user", username=user.username) }}">Edit User</a> ]
      {% endif %}
    </h2>
</hgroup>


    {% if lists %}
    <ul>
      {% for list in lists %}
      <li>
        <div>
          <a href="{{ url_for("main.list", list_id=list.id) }}">{{ list.title }}</a>
          {#
            I have disabled this for now. 
            If people have already commented on the list,
            it shouldn't be possible to delete it. 
          #}

          {#
          {% if user == current_user %}
          <a href="{{ url_for("main.delete_list", list_id=list.id) }}">[ delete? ]</a>
          {% endif %}
          #}
        </div>
      </li>
      {% endfor %}
    </ul>
    {% endif %}

    {% if user == current_user %}
    <div>
      <a href="{{ url_for("main.create") }}">Create a New list</a>
    </div>
    {% endif %}

{% endblock  page_content %}

{% block footer %}
{% if user != current_user %}
      {{ user.username|capitalize }} was last seen {{ user.last_seen}}.
{% endif %}
{% endblock footer %}
