{% extends "base.html" %}

{% block title %} dibs - Settings {% endblock title %}

{% block page_content %}
<h1>Settings</h1>
  <p>
  {{ user.username|capitalize }}
  {% if current_user.is_administrator() %}[ <a href="{{ url_for("main.edit_user", username=user.username) }}">Edit</a> ]{% endif %}
  </p>
  {% if user == current_user %}
  <div>
    <ul>
      <li><a href="{{url_for("auth.change_password")}}">Change Password</a></li>
      <li><a href="{{ url_for('auth.change_email_request') }}">Change Email Adress</a></li>
    </ul>
  </div>
  {% endif %}
  <hr />
  <div>
    Last seen {{ user.last_seen}}.
  </div>
{% endblock page_content %}
